:root {
  --light-box-shadow: 0 0 3px rgba(0, 0, 0, 0.342);
  --header-box-shadow: 3px 0 3px rgba(0, 0, 0, 0.342);
}

html[data-theme="dark"] {
  --text-color: #fff;
  --primary-background: rgb(243, 243, 243);
}

html[data-theme="light"] {
  --text-color: rgb(0, 0, 0);
  --primary-background: rgb(34, 34, 34);
}
