{
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "^effector$": "effector/compat",
          "^effector-react$": "effector-react/compat"
        }
      }
    ],
    "react-hot-loader/babel",
    [
      "babel-plugin-styled-components",
      {
        "ssr": false
      }
    ]
  ],
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "shippedProposals": true,
        "loose": true,
        "useBuiltIns": false,
        "targets": {
          "browsers": [
            ">0.2%",
            "not dead",
            "not op_mini all"
          ]
        }
      }
    ]
  ]
}