{
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-transform-typescript",
    [
      "babel-plugin-styled-components",
      {
        "ssr": false
      }
    ]
  ],
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "shippedProposals": true,
        "loose": true,
        "useBuiltIns": false,
        "targets": {
          "browsers": [
            ">0.2%",
            "not dead",
            "not op_mini all"
          ]
        }
      }
    ]
  ]
}